{% include 'base.html' %}
{% include 'navigation.html' %}
<style>
    .mydiv:hover {
        box-shadow: 0 0 2px 0 rgba(1, 24, 85, 0.743);
        transform: translateY(-15px);
    }
</style>

{% block content %}
<div class="container" style="margin-top: 50px;">
    <h1 class="text-center">Contact us</h1>
    <div class="row mt-5 text-center">
        <div class="col-lg-3 col-sm-6 mydiv">
            <h4><i class="fa fa-phone-square"> Contact</i></h4>
            <p class="text-danger mt-3" style="font-weight: bold; font-size: 18px;"><a
                    href="tel:+917389837625">+917389837625</a></p>
        </div>
        <div class="col-lg-3 col-sm-6 mydiv">
            <h4><i class="fa fa-envelope"> send-Email</i></h4>
            <p class="mt-3" style="font-weight: bold; font-size: 18px;"><a
                    href="mailto:abc@gmail.com">abc@gmail.com</a></p>
        </div>
        <div class="col-lg-3 col-sm-6 mydiv">
            <h4><i class="fa fa-address-card"> Office Address</i></h4>
            <p class="mt-3" style="font-weight: bold; font-size: 18px;"><a
                    href="https://maps.google.com/maps?q=Bhopal">Bhopal</a></p>
        </div>
        <div class="col-lg-3 col-sm-6 mydiv">
            <h4><i class="fa fa-clock-o" aria-hidden="true"> Office Time</i></h4>
            <p class="mt-3" style="font-weight: bold; font-size: 18px;">10AM To 5PM</p>
        </div>

    </div>
</div>

{% endblock content %}