{% include 'base.html' %}
{% include 'navigation.html' %}

{% block content %}

{% if error == "No" %}
<script>
    alert('Logged in Sucessfully!');
    window.location = "{% url 'home' %}";
 </script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Invalid Login try again!!');
</script>
{% endif %}

<div class="container">
    <h1 class="text-center">Admin Login</h1>
    <br>
    <form method="post">
        {% csrf_token %}
        <label for="">Admin Name</label>
        <input type="text" class="form-control" name="name">
        <label for="">Password</label>
        <input type="password" class="form-control" name="pwd">

        <input type="submit" value="login" class="form-control btn btn-primary">

    </form>
</div>

{% endblock content %}